<!DOCTYPE HTML>
<html>
<head>
    <title>搜索引擎</title>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Flat Search Box Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <!--Google Fonts-->
    <link rel="stylesheet" href="css/index.css">
     <link rel="icon" href="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F02%2F26%2F59%2F065774716e50469.jpg&refer=http%3A%2F%2Fbpic.588ku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1612315136&t=6db4b0a019e051c3a9fed34562917bf8" type="image/x-icon"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2306005_0wr1q3btrpd.css">
    <!--Google Fonts-->
</head>
<body>
<!--search start here-->
<div class="nav">
    <ul class="nav_left">
        <li>新闻</li>
        <li>hao123</li>
        <li>地图</li>
        <li>视频</li>
        <li>贴吧</li>
        <li>学术</li>
        <li>更多</li>
    </ul>
    <ul class="nav_right">
        <li>设置</li>
        <li>更多</li>
    </ul>
</div>
<div class="search">
    <i class="iconfont icon-xiangji"></i>
    <div class="s-bar">
        <img src="images/logo.png" />

        <form method="post">
            <input type="text" name="query">
            <input type="submit" value="搜索"/>
        </form>
    </div>

</div>

<div class="hot">
    <p>
        <span>百度热榜</span>
        <span>
            换一换
        </span>
    </p>
<ul class="hots">
    <li><span>大连本轮疫情来源初步判定</span></li>
    <li><span>天问一号飞行里程突破4亿公里</span></li>
     <li><span>北京8个月大女婴确诊 密接者8人</span></li>
    <li><span>这个新年中美欧各发生了一件大事</span></li>
     <li><span>小伙因买内衣不合适迎亲被拒</span></li>
    <li><span>周知!新冠病毒疫苗接种须知</span></li>

</ul>
</div>

<div class="copyright">
    <p>@copyrrirght zhouhang</p>
</div>
</body>
</html>